<% provide :title, t("admin.teams.members") %>
<h1><%= t "admin.teams.members" %></h1>
<div class="row">
  <div class="col-lg-3">
    <%= render "admin/share/sidebar" %>
  </div>
  <div class="col-lg-6">
    <div id="form_move_member" class="form_move_member"></div>
    <%= link_to t("admin.teams.add_member"), add_member_admin_management_team_path(@team), class: "btn btn-primary" %>
    <% if @users.any? %>
    <%= link_to t("admin.teams.team.delete_all_member"), empty_member_team_admin_management_team_path(@team), class: "btn btn-danger", method: :patch, remote: true, data: {confirm: t("admin.teams.team.confirm_delete")} %>
    <%= will_paginate @users %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"><%= t "admin.teams.team.col_stt" %></th>
          <th scope="col"><%= t "admin.teams.team.col_name" %></th>
          <th scope="col"><%= t "admin.teams.team.col_tool" %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |u, index| %>
        <tr id="user_<%= u.id %>">
          <th scope="row" class="count_user">
            <%= get_order_number params[:page], index %>
          </th>
          <td><%= u.name %></td>
          <td><%= link_to t("admin.teams.team.move_user"), move_team_admin_management_user_path(u),remote: true %> |
              <%= link_to t("admin.teams.team.delete"), delete_team_admin_management_user_path(u), method: :delete, data: {confirm: t("admin.teams.team.confirm_delete")},remote: true %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users %>
    <% else %>
    <div class="alert alert-danger"><%= t "admin.teams.empty" %></div>
    <% end %>
  </div>
</div>
