<header class="navbar navbar-fixed-top nav-bar-blue">
  <div class="container">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <%= link_to t("layouts.application.mms_title_short"), root_path, id: "logo", class: "navbar-brand brand-logo"%>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li class="nav-item active">
            <a href="#" class="nav-link"><i class="fa fa-inbox"></i><%= t "static_pages.home.mms_home" %></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-user"></i><%= t ".nav_profile" %></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-calendar-check-o"></i><%= t ".nav_teams" %></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-nav-right">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <%= link_to "#", class: "nav-link dropdown-toggle", data: { toggle: "dropdown"} do %>
            <%= gravatar_for current_user, Settings.user.nav_avatar, "img-xs rounded-circle" %>
            <% end %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t(".nav_profile"), "#", class: "dropdown-item" %>
              <%= link_to t(".nav_setting"), "#", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to t(".nav_logout"), logout_path, class: "dropdown-item", method: :delete %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to login_path, class: "nav-link" do %>
              <i class="fa fa-sign-in"></i><%= t ".nav_login" %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
